fastapi
uvicorn

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-chroma

chromadb

sentence-transformers
PyJWT
pandas
python-dotenv
python-multipart

sqlalchemy 
pymysql
aiomysql
langchain-groq